
[submodule "calucator"]
	path = calucator
	url = https://github.com/michal-ta/calucator.git
[submodule "filter"]
	path = filter
	url = https://github.com/michal-ta/filter.git
[submodule "Bistro"]
	path = Bistro
	url = https://github.com/michal-ta/Bistro.git
