
[submodule "calucator"]
	path = calucator
	url = https://github.com/michal-ta/calucator.git
[submodule "filter"]
	path = filter
	url = https://github.com/michal-ta/filter.git
[submodule "Bistro"]
	path = Bistro
	url = https://github.com/michal-ta/Bistro.git
[submodule "ocnaambulancia"]
	path = ocnaambulancia
	url = https://github.com/michal-ta/ocnaambulancia.git
[submodule "Mbart"]
	path = Mbart
	url = https://github.com/michal-ta/Mbart.git
