*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 25px;

}

.layout{
    background-color: #f5f4;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    color: #f54525;
    
}

.popis{
    font-size: 25px;
    font-weight: 700;
}

.vaneska_photo{
    height: 450px;

    &:hover{
        transform: scale(1.12) rotate(0.8deg) translateY(25px);

        
    }
}