/*basic layout of about me page*/ 
.content_wraper.omne {
    @include grid_template_page_align;
    grid-row: 3/4;
    grid-column: 2/10;
}

.content_main.omne{
    @include grid_template_inside;
    
    .heading__aboutme{

        &-main{
        grid-column: 1/6;
            display: flex;
            grid-row: 1/2;
            font-weight: 400;
            font-size: clamp(0.85rem, 1.8rem, 2.8rem);
            color: #828282;
        }
        &-second {
            font-weight: 400;
            font-size: clamp(0.85rem, 1.8rem, 2.8rem);
            color: #828282;
            grid-column: 6/10;
            display: flex;
            grid-row: 1/2;
        }

        &-jobs{
            grid-column: 1/5;
            grid-row: 8/9;
            font-weight: 400;
                font-size: clamp(0.85rem, 1rem 2rem);
                color: #828282;
        }
        &-skills{
            grid-column: 6/8;
                grid-row: 8/9;
                font-weight: 400;
                    font-size: clamp(0.85rem, 1rem 2rem);
                    color: #828282;
        }
        &-lang{
            grid-column: 9/11;
            grid-row: 8/9;
            font-weight: 400;
                font-size: clamp(0.85rem, 1rem 2rem);
                color: #828282;
        }
    }

    .left_side{
        grid-column: 1/5;
        grid-row: 2/7;
        width: 100%;
        

        .my_photo{
            width: 100%;
            height: 100%;
            display: inline-block;
            background-image: url(../img/photo.svg),url(../img/photo2.svg);
            background-repeat: no-repeat;
            background-position: left, right;
            background-size: 49%;
        }
    }

    .right_side{
        grid-column: 6/11;
        grid-row: 2/7;
        align-items: flex-start;
        width: 100%;
        background-color: $color_card;
        padding: rem(22);

        h4{
            font-weight: 600;
            letter-spacing: 1.85px;
        }
                img {
                    height: 1.25rem;
                    width: 1.25rem;
                    display: inline-block;
                    margin-left: rem(22);
                }
    }
    

    .flex_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
    }

    .flex_icon{
        display: flex;
        flex-direction: row;
        
        &.figma img{
            padding-left: rem(6);
        }
    }

    .flex_item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1rem;
        
        h4{
            margin-right: 2rem;
        }
    }

    .flex_job{
        grid-column: 1/5;
        grid-row: 9/10;
        background-color: $color_card;
            padding: rem(22);
        
    }
    
    .flex_anotherskill{
        grid-column:6/9;
        grid-row: 9/10;
        background-color: $color_card;
        padding: rem(10);
        width: 90%;
        }
        .container {
                height: 100%;

        ul {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-around;
            }
    }
    .flex_lang{
        grid-column: 9/11;
        grid-row: 9/10;
        background-color: $color_card;
        padding: rem(10);
        width: 100%;

        .container {
            height: 100%;
        
        
        ul{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    }
}

/* Color change of skills */
.flex_icon{
    

    &.css :nth-last-child(1),
    &.html :nth-last-child(1){
        animation:1.5s ease-in grayscale forwards;
    }

    &.js :nth-last-child(-n+3),
    &.Jquery :nth-last-child(-n+3),
    &.photoshop :nth-last-child(-n+3){
    animation:1.5s ease-in grayscale forwards;    
    }

    &.figma :nth-last-child(-n+2),
    &.ilustrator :nth-last-child(-n+2),
    &.git :nth-last-child(-n+2){
    animation:1.5s ease-in grayscale forwards;
    }

    &.react :nth-last-child(-n+4){
    animation:1.5s ease-in grayscale forwards;
    }

}

@keyframes grayscale{
    0% {filter: grayscale(0);}
    100% {filter: grayscale(100);}
    
}