footer{
    width: 100vw;
    height: 4.58vh;
    background-color: $color_primary_darker;

    ul{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 8%;
    }

    li{
        padding: em(4);
        background-color: $color_bg_primary;
        font-size: 14px;
        font-weight: 500;
        color: darken($color_bg_primary,35%);
    }
}

.eng{
    margin-left: em(40);
}