.logo{
    height: em(80);
    flex-basis: 25%;
}

.navigation{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    width: 98%;
    background-color: darken($color_secondary,35%);
    border-bottom: em(1.5) solid $color_darkaccent;
}

.brand {
    
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

.position{
    grid-column: 2/4;
    display: flex;
    width:90%;
    justify-items: center;
    align-items: flex-start;
    height: em(50);
    
    
}

.navi_but{
    font-size: 12px;
    font-style: bold;
    color: darken($color_lightaccent,45%);
    padding: em(9);
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
    width: 70%;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: em(18);

    &:hover{
        border: em(1) solid $color_darkaccent;   
        padding: em(9);
        border-radius: em(5);
        color: $color_header;
        box-shadow: em(1) em(1) em(8) $color_header;
        transition: all 0.5s ease-in-out;
    }

    
    
   
    a:hover,a:active{
        color:$color_header;

        
        
        
        
    }
    &.active{
        background-color: $color_secondary;
        border-radius: em(5);
        border: em(1.2) $color_header solid;

        
    }
}


    

