.content_main{
    padding: em(145) em(80);
    height: 88.84vh;
    display: flex;
}

.left_side{
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: em(12);

    h3{
        font-weight: 400;
        font-size: medium;
        color: #828282 ;
        
    }

    h1{
        color: #fff;
        font-size: clamp(1.5em , 5.5rem , 6.5rem );
        
    }
    p{
        width: 70%;
        
    }
    a{
        width: 30%;
        text-align: center;
        justify-self: flex-end;
        align-self: center;
        height: em(64,25);
        padding: em(12,25);
        font-size: 1.2rem;
        background-color:$color_accent;
        font-weight: 700;
        color: #fff;
    }
}