.content_main{
    padding: em(145) em(80);
    height: 88.84vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

.triangle{
    height: min(80vw, 200px);
    width: min(80vw , 200px);
    position: fixed;
    z-index: -2;
    top: -4%;
    left: -10%;
}

.buttons.hero{
    grid-column: 1/3;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.hero_btn{
    width: 30%;
    text-align: center;
    justify-self: flex-end;
    align-self: center;
    height: em(64, 25);
    padding: em(12, 25);
    background-color: $color_accent;
    font-weight: 700;
    color: #fff;
    transform: translateY(em(65));
    font-size: clamp(1em , 1vw , 2em);

    &.first::after{
        content: url(../img/arrow.svg);
        position: absolute;
        top:-90%;
        left: 90%;
    }
        
    

    &.second{
        background-color:$color_bg_primary;
        border: em(1.25) solid $color_accent;
        margin-left: em(55);
        font-weight: 400;
        
    }
}

.left_side{
    min-height: 100%;
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    padding-left: em(12);

    h3{
        font-weight: 400;
        font-size: medium;
        color: #828282 ;
        font-size: clamp(1rem , 6vw , 2rem);

        
    }

    h1{
        color: #fff;
        font-size: clamp(1.62rem , 10vw , 7rem);
        margin-top: em(40,88);
        
    }
    p{
        width: 70%;
        margin-top: em(40);
        font-size: clamp(1em , 1vw , 2em);
        
    }
    
    
}
.right_side{
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;

    img{
        height: 50.18vh;
        width: 37.33vw;
    }

    
}