* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.08125em;
  line-height: 1.375em;
  font-family: 'Roboto Condensed', sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  background-color: #cecece;
  font-size: 100%;
}

a {
  text-decoration: none;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_wraper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.content_wraper.omne {
  height: 98vh;
}

.navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6.58vh;
  background-color: #b5b5b5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  padding: 0 8%;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
}

.logo {
  height: 100%;
  width: auto;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.position {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navi_but {
  font-size: clamp(0.6rem, 0.9rem, 1.5rem);
  color: #fff;
  padding: 0.5625em;
  list-style: none;
  text-decoration: none;
  letter-spacing: 3px;
  width: 70%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.navi_but.active {
  color: #ad3c3d;
}

.content_main {
  padding: 9.0625em 8%;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
}

.triangle {
  height: 785px;
  width: 747px;
  position: absolute;
  z-index: -2;
  top: 0%;
  left: -5%;
}

.hero_btn {
  width: 30%;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 2.56em;
  padding: 0.48em;
  font-size: clamp(0.8rem, 1.2rem, 2.5rem);
  background-color: #bd4243;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.hero_btn.right {
  margin-left: 9.5%;
  justify-self: flex-start;
  background-color: #cecece;
  color: #141414;
  font-weight: 400;
  border: 2px solid #ad3c3d;
}

.hero_btn.left::after {
  content: url(../img/arrow.svg);
  position: absolute;
  top: -87.5%;
  left: 84%;
  display: block;
}

.left_side {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0.75em;
}

.left_side img {
  display: inline-block;
  height: 25%;
}

.left_side h3 {
  font-weight: 400;
  font-size: clamp(0.85rem, 1.8rem, 2.8rem);
  color: #828282;
}

.left_side h1 {
  color: #fff;
  font-size: clamp(2.5rem, 4rem, 5.5rem);
  margin-top: 0.45455em;
}

.left_side p {
  width: 70%;
  margin-top: 2.5em;
}

.right_side {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_side h3 {
  font-weight: 400;
  font-size: clamp(0.85rem, 1.8rem, 2.8rem);
  color: #828282;
}

.right_side img {
  margin-left: 24%;
  height: 80%;
  width: 100%;
}

.content_main.omne {
  max-height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.content_main.omne .left_side {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.content_main.omne .left_side h3 {
  margin-bottom: 6%;
}

.content_main.omne .left_side .myphoto {
  display: inline-block;
  height: 100%;
  width: 120%;
  content: url(../img/photo.svg);
}

.content_main.omne .right_side {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content_main.omne .right_side h3 {
  margin-bottom: 21%;
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: baseline;
}

.flex_container.left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.flex_container.left li {
  padding: .25rem 0;
}

.flex_container.right {
  margin-top: 21%;
}

.flex_container .flex_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 100%;
}

.flex_container .flex_item img {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

footer {
  width: 100vw;
  height: 4.58vh;
  background-color: #b5b5b5;
}

footer ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8%;
}

footer li {
  padding: 0.25em;
  background-color: #cecece;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}

.eng {
  margin-left: 2.5em;
}

@media (max-width: 810px) {
  body {
    font-size: 0.875em;
  }
  .wrapper {
    font-size: 0.875em;
  }
  .fotka {
    height: 11.25em;
    width: 11.25em;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .navi_but {
    font-size: 0.9375em;
    letter-spacing: 2.5px;
    width: 55%;
    padding: 0.1875em;
  }
  .logo {
    height: 4.0625em;
  }
  .nazov {
    font-size: 1.125em;
  }
  .brand {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .omne {
    font-size: 0.9375em;
  }
  .omne .popis {
    font-size: 1.5625em;
    letter-spacing: 0.125em;
  }
  .zakandeinfo {
    font-size: 1.25em;
  }
  .grid_list {
    font-size: 0.9375em;
  }
  .grid_list h2 {
    font-size: 1.25em;
  }
  .software {
    font-size: 0.9875em;
    border-top: 0;
  }
  .hodnotenie {
    border-top: 0;
  }
  .bi {
    height: 1em;
  }
  .footer {
    font-size: 0.625em;
    letter-spacing: 0.1125em;
    font-weight: 400;
  }
}

@media (max-width: 620px) {
  .grid_list {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid_list1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .zakladneznalosti {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .hodnotenie {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  .software {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 550px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper {
    margin-bottom: 0.9375em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer a {
    padding-top: 0.75em;
  }
}

@media (max-width: 425px) {
  .navigation {
    justify-items: center;
  }
  .brand {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .position {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fotka {
    height: 8.125em;
    width: 8.125em;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .basics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */