* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.08125em;
  line-height: 1.375em;
  font-family: 'Roboto Condensed', sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  background-color: #cecece;
  font-size: 100%;
}

a {
  text-decoration: none;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_wraper {
  height: 100%;
  width: 100%;
}

.navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6.58vh;
  background-color: #b5b5b5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  padding: 0 5em;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
}

.logo {
  height: 80%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.position {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navi_but {
  font-size: 1.25em;
  color: #fff;
  padding: 0.5625em;
  list-style: none;
  text-decoration: none;
  letter-spacing: 3px;
  width: 70%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.125em;
}

.navi_but.active {
  color: #ad3c3d;
}

.content_main {
  padding: 9.0625em 5em;
  height: 88.84vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.triangle {
  height: 80vw;
  width: 80vw;
  position: fixed;
  z-index: -2;
  top: -4%;
  left: -10%;
}

.buttons.hero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_btn {
  width: 30%;
  text-align: center;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 2.56em;
  padding: 0.48em;
  background-color: #bd4243;
  font-weight: 700;
  color: #fff;
  -webkit-transform: translateY(4.0625em);
          transform: translateY(4.0625em);
  font-size: clamp(1em, 1vw, 2em);
}

.hero_btn.first::after {
  content: url(../img/arrow.svg);
  position: absolute;
  top: -90%;
  left: 90%;
}

.hero_btn.second {
  background-color: #cecece;
  border: 0.07812em solid #bd4243;
  margin-left: 3.4375em;
  font-weight: 400;
}

.left_side {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0.75em;
}

.left_side h3 {
  font-weight: 400;
  font-size: medium;
  color: #828282;
  font-size: clamp(1rem, 6vw, 2rem);
}

.left_side h1 {
  color: #fff;
  font-size: clamp(1.62rem, 10vw, 7rem);
  margin-top: 0.45455em;
}

.left_side p {
  width: 70%;
  margin-top: 2.5em;
  font-size: clamp(1em, 1vw, 2em);
}

.right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_side img {
  height: 50.18vh;
  width: 37.33vw;
}

footer {
  width: 100vw;
  height: 4.58vh;
  background-color: #b5b5b5;
}

footer ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5em;
}

footer li {
  padding: 0.25em;
  background-color: #cecece;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}

.eng {
  margin-left: 2.5em;
}

@media (max-width: 810px) {
  body {
    font-size: 0.875em;
  }
  .wrapper {
    font-size: 0.875em;
  }
  .fotka {
    height: 11.25em;
    width: 11.25em;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .navi_but {
    font-size: 0.9375em;
    letter-spacing: 2.5px;
    width: 55%;
    padding: 0.1875em;
  }
  .logo {
    height: 4.0625em;
  }
  .nazov {
    font-size: 1.125em;
  }
  .brand {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .omne {
    font-size: 0.9375em;
  }
  .omne .popis {
    font-size: 1.5625em;
    letter-spacing: 0.125em;
  }
  .zakandeinfo {
    font-size: 1.25em;
  }
  .grid_list {
    font-size: 0.9375em;
  }
  .grid_list h2 {
    font-size: 1.25em;
  }
  .software {
    font-size: 0.9875em;
    border-top: 0;
  }
  .hodnotenie {
    border-top: 0;
  }
  .bi {
    height: 1em;
  }
  .footer {
    font-size: 0.625em;
    letter-spacing: 0.1125em;
    font-weight: 400;
  }
}

@media (max-width: 620px) {
  .grid_list {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid_list1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .zakladneznalosti {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .hodnotenie {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  .software {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 550px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper {
    margin-bottom: 0.9375em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer a {
    padding-top: 0.75em;
  }
}

@media (max-width: 425px) {
  .navigation {
    justify-items: center;
  }
  .brand {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .position {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fotka {
    height: 8.125em;
    width: 8.125em;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .basics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */